<link rel="stylesheet" href="styles/dashboard.css">
<div class="dashboard flex-column">
    <div class="title flex">
        <h1>Dashboard</h1>
    </div>
    <div class="sub-container flex-column">
        <table>
            <tr>
                <% for( let index = 0; index < Object.keys(trending).length; index++ ) { %>
                    <th colspan="2">
                        <h2 class="dash-cont-header">Top 
                            <%= trending[Object.keys(trending)[index]].length %> 
                        </h2>
                    </th>
                <% } %>
            </tr>
            <tr>
                <% for( let index = 0; index < Object.keys(trending).length; index++ ) { %>
                    <th>
                        <% if (String(Object.keys(trending)[index]) == "trendingChannels") { %>
                            Channels
                        <% } else if (String(Object.keys(trending)[index]) == "trendingRegions") { %>
                            Regions
                        <% } else if (String(Object.keys(trending)[index]) == "trendingTags") { %>
                            Tags
                        <% } else if (String(Object.keys(trending)[index]) == "trendingUsers") { %>
                            Users
                        <% } %>
                    </th>
                    <th>Count</th>
                <% } %>
            </tr>
            <% for( let index = 0; index < 5; index++ ) { %>
                <tr class="row-data">
                    <% if (trending.trendingChannels[index]) { %>
                        <td>
                            <%= trending.trendingChannels[index].channel.channelName %> 
                        </td>
                        <td>
                            <%= trending.trendingChannels[index].count %> 
                        </td>
                    <% } else { %>
                        <td>
                            
                        </td>    
                        <td>

                        </td>
                    <% } %>
                    <% if (trending.trendingUsers[index]) { %>
                        <td>
                            <%= trending.trendingUsers[index].user.userName %> 
                        </td>
                        <td>
                            <%= trending.trendingUsers[index].count %> 
                        </td>
                    <% } else { %>
                        <td>
                            
                        </td>    
                        <td>

                        </td>
                    <% } %>
                    
                    <% if (trending.trendingTags[index]) { %>
                        <td>
                            <%= trending.trendingTags[index]._id %> 
                        </td>
                        <td>
                            <%= trending.trendingTags[index].count %> 
                        </td>
                    <% } else { %>
                        <td>
                            
                        </td>    
                        <td>

                        </td>
                    <% } %>
                    <% if (trending.trendingRegions[index]) { %>
                        <td>
                            <%= trending.trendingRegions[index]._id %> 
                        </td>
                        <td>
                            <%= trending.trendingRegions[index].count %> 
                        </td>
                    <% } else { %>
                        <td>
                            
                        </td>    
                        <td>

                        </td>
                    <% } %>
                </tr>
            <% } %>

        </table>
    </div>
</div>